
@include display( grid, center,center)

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: aliceblue;
    text-align: center;
    padding: 10px;
    font-size: large;
    font-style: oblique;
}
