@keyframes agranda{
    0% { transform: scale(0,0);}
    25% { transform: scale(2,2);}
    50% { transform: scale(3,3);}
    75% { transform: scale( 2,2);}
    100% { transform: scale(1,1);}
}

@keyframes desaparece { 0% { opacity: 0;}
25% { opacity: 0.25;} 
50%{ opacity: 0.25;}
70%{ opacity: 0.5;}
100%{ opacity: 1;}}

@media (max-width: 768px) {

    .formaclase img,
    .formaclase2 img {
        flex: 1 1 calc(50% - 20px);
    }

    .clase1,
    .clase {
        width: 150px;
        height: 100px;
    }

    .clase2 {
        width: 300px;
        height: 250px;
    }
}
@media (max-width: 768px) {
    .menuprincipal {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 5px;
    }

    .logoprincipal {
        height: 40px;
    }

    .titulo {
        font-size: 20px;
    }

    .navbar-nav {
        text-align: center;
    }

    .nav-item {
        margin: 5px 0;
    }

    .nav-link {
        padding: 5px 10px;
        font-size: medium;
    }

    .fotoprincipal {
        width: 100%;
        margin-top: 20px;
    }

    .contacto {
        flex-direction: column;
    }

    .mapa1 iframe {
        height: 300px;
    }
}