.encabezado {
    color: aliceblue;
    text-align: center;
    font-size: 30px;
    margin-top: 25px;
   transform: skew(-30deg , -5deg);
}

.encabezado2{
   background-image: linear-gradient( to bottom, black , darkgreen , green );
    color: beige;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}